# Build artifacts
dockup-agent
_remote_install.sh

# Go build cache
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Temporary output files
Setting
Reloading
Installing
GitHub
Configuring

# Misc
test.tape